/**

!/.devcontainer/
!/.devcontainer/**

!/.github/
!/.github/**

!/assets/
!/assets/**

!/baseline/
!/baseline/**

!/templates/
!/templates/**

!/.gitattributes
!/.gitignore
!/.pre-commit-config.yaml
!/Dockerfile
!/Makefile
!/pyproject.toml
!/LICENSE
!/README.md

/**/__pycache__/
/**/*.pyc
